#!/usr/bin/make -f
# -*- makefile -*-

# Comment this to turn off verbose mode.
export DH_VERBOSE=1
V=1
project?=iotivity
version?=$(shell [ -r debian/changelog ] && dpkg-parsechangelog \
	| grep "Version:" | sed -e "s/Version: \(.*\)-.*/\1/g" \
	|| echo "0.0.0")
tarball?=${CURDIR}/../${project}_${version}.orig.tar.xz
export tarball

default: rule/debuild

%:
	dh $@ tarball=${tarball}

rule/setup: /etc/debian_release
	sudo apt-get install \
 devscripts \
 debhelper \
 wget \
 autoconf \
 automake \
 autotools-dev \
 libtool \
 libbz2-dev \
 libglib2.0-dev \
 libicu-dev \
 python-dev \
 scons \
 sudo \
 unzip \
 uuid-dev \
 libcurl4-openssl-dev \
 valgrind \
 libboost-thread-dev \
 libboost-date-time-dev \
 libboost-iostreams-dev \
 libboost-log-dev \
 libboost-program-options-dev \
 libboost-regex-dev \
 libboost-system-dev \
 libsqlite3-dev

rule/debuild: ${tarball}
	which ${@F} || ./$@/setup
	${@F}

${tarball}:
	make dist
